<footer class="footer py-3 mt-auto">
    <div class="container ">
        <p class="text-center text-light fw-lighter">&copy; Shopping-Cart 2024</p>
        <div class="text-center text-light fw-lighter">Designed with <i class=" text-danger fa fa-heart pulse"></i> by <a class="link-dark text-decoration-none" href="https://www.linkedin.com/in/rudraksh04/"> Rudraksh Upadhyay</a></div>
    </div>
</footer>
